* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat' sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: none;
    justify-content: space-around;
    height: 60px;
    color:black;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-right: 25px;
    padding-top: 15px;
}

nav img {
    width: 59px;
    height: 67px;

}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    font-size: 20px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;

}


/* hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;

}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: none;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide{
        transform: translateX(0);
    }
}
/* end of navbar */

/* landing view section*/
.landing h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color:red
}

.landing img {
    width: 1318px;
    height: 502px;
    padding-top: 10px
}
/* end of landing view section*/

/* about section*/
.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.about h1 {
    font-size: 30px;
    font-weight: 600;
    
}

.about p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-size: 18px;
    padding-top: 40px
}

.row {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.row img {
    width: 237px;
    height: 150px;
    border-radius: 30px;
}

.about-col {
    flex-basis: 50%;
    padding-top: 25px;
    transition: 0.5s;
}

.row2 {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.row2 img {
    width: 237px;
    height: 150px;
    border-radius: 30px;
}

.about-col2 {
    flex-basis: 50%;
    padding-top: 25px;
    transition: 0.5s;
}

.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

.about-col2:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

} 
/* end of about section*/

/* culture section */

.culture {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    border-radius: none;
}

.culture p {
    font-size: 20px;
    padding-top: 20px;
}
.culture col {
    flex-basis: 45%;
    margin-bottom: 30px;
    position: relative;
}
.culture-col img {
    width: 227px;
    height: 145px;
    padding: 30px;
}

.culture-col:hover {
    box-shadow: 0 0 20px 0px red;
}
/* end of landing page */

/* page jawa */
.landing-jawa img {
    width: 1372px;
    height: 654px;
    padding-top: 10px;
    filter: brightness(50%);
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box p {
    text-align: center;
    justify-content: justify;
}
.text-box h1 {
    font-size: 40px;
    font-family: 'Merienda', cursive;
}
/* landing budaya jawa */
.javanese-culture {
    width: 80%;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
}
.javanese-culture img {
    position: absolute;
    left: 129px;
    top: 799px;
    width: 71px;
    height: 75px;
}
.javanese-culture img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}
.javanese-culture h1 {
    position: absolute;
    left: 190px;
    top: 820px;
    font-size: 30px;
    font-family: 'Merienda', cursive;
}
.text-box2 p {
    position: absolute;
    text-align: justify;
    left: 129px;
    top: 918px;
    font-size: 20px;
}
.text-box2 img {
    position: relative;
    left: 580px;
    top: 50px;
    width: 461px;
    height: 352px;
}
.wayang {
    position: absolute;
    width: 97.5px;
    height: 121.88px;
    left: 846.49px;
    top: 50px;
    transform: matrix(-0.97, -0.25, -0.25, 0.97, 0, 0);
}
.wayang2 {
    position: absolute;
    left: 290px;
    top: 2px;
    width: 71px;
    height: 75px;
}
.wayang3 {
    position: absolute;
    width: 101.97px;
    height: 120.7px;
    left: 900px;
    top: 110px;
    transform: rotate(-17.2deg);
}
.tari-img {
    position: absolute;
    width: 150.76px;
    height: 122.33px;
    left: 815.79px;
    top: 430px;
    transform: matrix(-0.99, -0.16, -0.16, 0.99, 0, 0);
}
.tari-img2 {
    position: absolute;
    width: 150.76px;
    height: 122.33px;
    left: 870px;
    top: 430px;
    transform: rotate(-9.11deg);
}
.box1 {
    position: absolute;
    width: 810px;
    height: 813px;
    left: 1011px;
    top: 706px;
    background: radial-gradient(50% 50% at 50% 50%, #FFB1B1 0%, rgba(253, 73, 73, 0) 100%);
    z-index: -1;
}
.box2 {
    position: absolute;
    width: 876px;
    height: 658.41px;
    left: -536px;
    top: 1156.08px;
    background: radial-gradient(50% 50% at 50% 50%, #CEFFE8 0%, rgba(98, 255, 180, 0) 100%);
    transform: rotate(-23.06deg);
}
.box3 {
    position: absolute;
    width: 803px;
    height: 717px;
    left: 937px;
    top: 1479px;
    background: radial-gradient(50% 50% at 50% 50%, #A6C8FC 0%, rgba(81, 150, 255, 0) 100%);
    z-index: -1;
}
.box4 {
    position: absolute;
    width: 796px;
    height: 679px;
    left: -371px;
    top: 2100px;
    background: radial-gradient(50% 50% at 50% 50%, #FCC7AA 0%, rgba(255, 92, 1, 0) 100%);
    z-index: -1;
}
.box5 {
    position: absolute;
    width: 876px;
    height: 732px;
    left: 825px;
    top: 2550px;
    background: radial-gradient(50% 50% at 50% 50%, #CEFFE8 0%, rgba(98, 255, 180, 0) 100%);
    z-index: -1;
}

/* tari adat jawa */
.tarijawa {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.tarijawa h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
    padding-top: 200px;
}
.tarijawa img {
    width: 225px;
    height: 137px;
    border-radius: 18px;
}
.tarijawa-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.tarijawa-col p{
    text-align: justify;
    line-height: 22px;
    padding: 0;
}
.tarijawa-col img{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.tarijawa-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-style: 'Merienda', cursive;
}
.tarijawa-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}    
.row3 {
    display: flex;
    justify-content: space-between;
}

/* rumah adat jawa */
.rumahjawa {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.rumahjawa h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
}
.rumahjawa img {
    width: 270px;
    height: 142px;
    border-radius: 18px;
}
.rumahjawa-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.rumahjawa-col p {
    text-align: justify;
    line-height: 22px;
    padding: 0;
}
.rumahjawa-col img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.rumahjawa-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.rumahjawa-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.row4 {
    display: flex;
    justify-content: space-between;
}

/* suku adat jawa */
.sukujawa {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.sukujawa h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
}
.sukujawa img {
    width: 270px;
    height: 142px;
    border-radius: 18px;
}
.sukujawa-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.sukujawa-col p {
    text-align: justify;
    line-height: 22px;
    padding: 0;
}
.sukujawa-col img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.sukujawa-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.sukujawa-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}
.row5 {
    display: flex;
    justify-content: space-between;
}
/* end of page jawa */

/* page kalimantan */
.box6 {
    position: absolute;
    width: 803px;
    height: 717px;
    left: 937px;
    top: 1300px;
    background: radial-gradient(50% 50% at 50% 50%, #A6C8FC 0%, rgba(81, 150, 255, 0) 100%);
    z-index: -1;
}
.box7 {
    position: absolute;
    width: 796px;
    height: 679px;
    left: -504px;
    top: 1800px;
    background: radial-gradient(50% 50% at 50% 50%, #FCC7AA 0%, rgba(255, 92, 1, 0) 100%);
    z-index: -1;
}
.box8 {
    position: absolute;
    width: 973px;
    height: 740px;
    left: 878px;
    top: 2350px;
    background: radial-gradient(50% 50% at 50% 50%, #CEFFE8 0%, rgba(98, 255, 180, 0) 100%);
    z-index: -1;
}
.landing-kalimantan img {
    padding-top: 10px;
    width: 1372px;
    height: 653px;
    filter: brightness(50%);
}
.text-box3 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box3 p {
    text-align: center;
    justify-content: justify;
}
.text-box3 h1 {
    font-size: 40px;
    font-family: 'Merienda', cursive;
}
/* section kalimantanese culutre */
.kalimantanese-culture h1 {
    position: absolute;
    left: 190px;
    top: 820px;
    font-size: 30px;
    font-family: 'Merienda', cursive;
}
.kalimantanese-culture p {
    position: absolute;
    left: 107px;
    top: 935px;
    text-align: justify;
    font-family: 'Montserrat';
}
.kalimantanese-culture img {
    position: absolute;
    width: 613.27px;
    height: 379.07px;
    left: 698px;
    top: 838.07px;
}
.kalimantanese-culture img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}
/* tari kalimantan */
.tarikalimantan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.tarikalimantan h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
    padding-top: 500px;
}
.tarikalimantan img {
    width: 225px;
    height: 137px;
    border-radius: 18px;
}
.tarikalimantan-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.tarikalimantan-col p{
    text-align: justify;
    line-height: 22px;
    padding: 0;
    font-family: 'Montserrat';
}
.tarikalimantan-col img{
    margin-left:auto;
    margin-right:auto;
    display:block
}
.tarikalimantan-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-style: 'Merienda', cursive;
}
.tarikalimantan-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}    
.row6 {
    display: flex;
    justify-content: space-between;
}
/* rumah adat kalimantan */
.rumahkalimantan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.rumahkalimantan h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
}
.rumahkalimantan img {
    width: 225px;
    height: 137px;
    border-radius: 18px;
}
.rumahkalimantan-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.rumahkalimantan-col p{
    text-align: justify;
    line-height: 22px;
    padding: 0;
    font-family: 'Montserrat';
}
.rumahkalimantan-col img{
    margin-left:auto;
    margin-right:auto;
    display:block
}
.rumahkalimantan-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-style: 'Merienda', cursive;
}
.rumahkalimantan-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}    
.row7 {
    display: flex;
    justify-content: space-between;
}
/* suku adat kalimantan */
.sukukalimantan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.sukukalimantan h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
}
.sukukalimantan img {
    width: 225px;
    height: 137px;
    border-radius: 18px;
    text-align: center;
}
.sukukalimantan-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.sukukalimantan-col p{
    text-align: justify;
    line-height: 22px;
    padding: 0;
}
.sukukalimantan-col img{
    margin-left:auto;
    margin-right:auto;
    display:block
}
.sukukalimantan-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-style: 'Merienda', cursive;
}
.sukukalimantan-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}    
.row8 {
    display: flex;
    justify-content: space-between;
}
/* end of kalimantanese culture */
/* end of page kalimantan */