* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat' sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: none;
    justify-content: space-around;
    height: 60px;
    color:black;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-right: 25px;
    padding-top: 15px;
}
.logo h3 {
    font-family: 'Merienda', cursive;
}

nav img {
    width: 59px;
    height: 67px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    font-size: 20px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat';
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;

}

/* hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;

}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);  
    z-index: 1;
    color: white;

}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    z-index: 1;
    color: white;
    
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color:#24262b;
        z-index: 1;
        transform: translateX(100%);
        transition: all 0,5s;
    }
    nav ul li a {
        color: white;
        font-family: 'Montserrat';
    }
    nav ul.slide{
        transform: translateX(0);
    }
}

/* end of navbar */
/* page sumatra */
.landing-sumatra img {
    width: 1372px;
    height: 654px;
    padding-top: 10px;
    filter: brightness(50%);
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box p {
    margin: 30px 0 40px;
    font-size: 18px;
    color: white;
    text-align: center;
    justify-content: justify;
    font-family: 'Montserrat';
}

.text-box h1 {
    font-size: 40px;
    font-family: 'Merienda', cursive;
}

.sumatra-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 33px;
    padding: 12px 34px;
    font-size: 20px;
    background: #FCEBC0;
    position: relative;
    cursor: pointer;
}

/* sumatra culture */

.sumatra-culture h1 {
    position: absolute;
    left: 190px;
    top: 820px;
    font-size: 30px;
    font-family: 'Merienda', cursive;
}

.sumatra-culture p {
    position: absolute;
    left: 107px;
    top: 935px;
    text-align: justify;
    font-family: 'Montserrat';
}

.sumatra-culture img {
    position: absolute;
    width: 613.27px;
    height: 379.07px;
    left: 698px;
    top: 838.07px;
}

.sumatra-culture img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

/* tari adat sumatra */
.tarisumatra {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}

.tarisumatra h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
    padding-top: 500px;
}

.tarisumatra img {
    width: 225px;
    height: 137px;
    border-radius: 18px;
}

.tarisumatra-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.tarisumatra-col p {
    text-align: justify;
    line-height: 22px;
    padding: 0;
    font-family: 'Montserrat';
}

.tarisumatra-col img {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.tarisumatra-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat';
}

.tarisumatra-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

.row3 {
    display: flex;
    justify-content: space-between;
}

/* rumah adat sumatra */
.rumahsumatra {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.rumahsumatra h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
}

.rumahsumatra img {
    width: 270px;
    height: 142px;
    border-radius: 18px;
}

.rumahsumatra-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.rumahsumatra-col p {
    text-align: justify;
    line-height: 22px;
    padding: 0;
    font-family: 'Montserrat';
}

.rumahsumatra-col img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rumahsumatra-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat';
}

.rumahsumatra-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.row4 {
    display: flex;
    justify-content: space-between;
}

/* suku adat sumatra */
.sukusumatra {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.sukusumatra h1 {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Merienda', cursive;
}

.sukusumatra img {
    width: 270px;
    height: 142px;
    border-radius: 18px;
}

.sukusumatra-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.sukusumatra-col p {
    text-align: justify;
    line-height: 22px;
    padding: 0;
    Font-family: 'Montserrat';
}

.sukusumatra-col img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sukusumatra-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat';
}

.sukusumatra-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

.row5 {
    display: flex;
    justify-content: space-between;
}

/* end of page sumatra *
